
XE_ROOT             = $(PROJECT_DIR)/../../..
XE_SOURCE           = $(XE_ROOT)/source/xe
XE_SOURCE_TOOLS     = $(XE_ROOT)/source/tools

XE_LIBS_SOURCE      = $(XE_SOURCE)/libs
XE_STB              = $(XE_LIBS_SOURCE)/stb

XE_LIBS_INCLUDE     = $(XE_STB)


XE_BUILD_DIR            = $(XE_ROOT)/build/$(PLATFORM_NAME)/$(CONFIGURATION)
XE_BUILD_DIR_OUT        = $(XE_BUILD_DIR)/bin/
XE_BUILD_DIR_INT        = $(XE_BUILD_DIR)/obj/$(PROJECT_NAME)/$(TARGET_NAME)
